* {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  font-size: 15px;
}
html {
  margin: 0;
  padding: 0;
  background-color: darkslategray;
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  padding: 0px;
}
.layar-dalam {
  width: 1000px;
  margin: auto;
}
.layar-penuh {
  width: 100%;
}
nav {
  z-index: 100;
  color: #fff;
  text-align: center;
  position: fixed;
  border-bottom: 1px solid #dbd6d6;
  line-height: 60px;
  width: 100%;
  transition: background-color 0.5s ease;
}
nav.putih {
  background-color: #E4802E;
}
nav .logo {
  float: left;
  position: relative;
  line-height: 55px;
  text-align: center;
}
nav .logo img {
  vertical-align: middle;
  width: 60px;
}
nav .menu {
  float: right;
  height: 60px;
  max-width: 600px;
}

nav .menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav .menu ul li {
  list-style-type: none;
  float: left;
  line-height: 60px;
}

nav ul li a {
  color: #fff;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
}
/*Destinasi*/
.layar-dalam h3 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.tours {
  margin-top: 5px;
}

.gallery {
  position: relative;

  border-radius: 10px 10px;
  max-height: 380px;
}

.gallery:hover {
  transition: 0.2s ease-in-out;
}

.gallery img {
  filter: brightness(90%);
  width: 100%;
  height: 100%;
  min-height: 380px;
  max-height: 380px;
  min-width: 200px;
  background-size: cover;
  border-radius: 10px 10px;
}

.desc {
  padding: 15px;
  text-align: left;
}

.desc-img {
  position: absolute;
  top: 300px;
  width: 100%;
  color: white;
  text-align: left;
  padding: 15px;
  font-size: 20px;
}

.desc-img-2 {
  position: absolute;
  top: 330px;
  width: 100%;
  color: white;
  text-align: left;
  padding: 15px;
  font-size: 15px;
}

.tour {
  margin-bottom: 50px;
  float: left;
  padding: 0 10px;
  width: 24.99999%;
}

/*kuliner*/
.layar-dalam h4 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.makanan {
  position: relative;

  border-radius: 10px 10px;
  max-height: 380px;
}
.makanan:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}
.makanan img {
  filter: brightness(90%);
  width: 100%;
  height: 100%;
  min-height: 380px;
  max-height: 380px;
  min-width: 200px;
  background-size: cover;
  border-radius: 10px 10px;
}
.kuli {
  padding: 0 10px;
  margin-bottom: 50px;

  float: left;
  width: 24.99999%;
}

footer {
  margin-top: 1500px;
  background-color: #343a40;
  color: #fff;
}

/*pengaturan header*/
header {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}

header video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -2;
}
header .intro {
  z-index: 100;
  color: #fff;
  text-align: center;
  position: relative;
  top: 50%;
}
header .intro h3 {
  font-size: 50px;
  margin: 0;
  padding: 0;
}

.tombol {
  background-color: #c86b85;
  height: 40px;
  line-height: 42px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 0px 20px 0px 20px;
  font-size: 15px;
  border-radius: 4px;
}
header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 50%;
}
header .overlay img {
  width: 1000px;
  background-size: cover;
}
.tombol-menu {
  position: absolute;
  top: 1.7rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}
.tombol-menu .garis {
  height: 3px;
  background-color: #fff;
}
section {
  padding: 50px 0px 50px 0px;
}
section h3 {
  font-size: 30px;
}
section h3::after {
  content: '';
  border-bottom: 5px solid #c86b85;
  width: 52px;
  display: block;
  margin: 20px auto;
}
.tombol-menu {
  position: absolute;
  top: 1.7rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}
.tombol-menu .garis {
  height: 3px;
  background-color: #fff;
}
.card {
  display: absolute;
  float: left;
  padding: 0 10px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 50px;
}

@media screen and (max-width: 991.98px) {
  .layar-dalam {
    width: 90%;
  }
  nav .menu ul {
    display: none;
    margin-top: 60px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
  }
  nav .menu ul li {
    width: 100%;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    line-height: 40px;
  }
  nav .menu ul li a {
    color: #333;
  }
  .tombol-menu {
    display: flex;
  }
}
